<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS Teams</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <style>
        body { 
            background-color: white;             
            color: black;
        }

        .meetImg{
                left: 0;
                background-color: white; 
                display: flex;
                justify-content: center;
                align-items: center;
        }

        img{
            width: 90%;
            height: 85%;
            margin: auto;
            margin-left: 5%;
        }

        .btn{
            background-color: #766de2;
            border-radius: 12px;
            font-family: sans-serif;
        }

        .wrapper{
            background-color: #e7dffb;  
            right: 0;
            justify-content: center;
            text-align: center;
            background-color: #e7dffb;
            display: flex;
            align-items: center;
        }

        a{
            padding-left: 0.6em;
            border-left: 0.5px solid grey;
        }

        .col-sm-6{
            height: 100vh;
            overflow-x: hidden;
            vertical-align: middle;
            justify-content: center;
            text-align: center;
            align-items: center;
            display: inline-grid;
        }

        .row{
            width: 100vw;
        }

        .container {  
            background-color: white;
            position: relative;
            width: 50%;
        }

        .overlay {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            background-color: #766de2;
            opacity: 0.9;
            overflow: hidden;
            width: 100%;
            height:0;
            transition: 1s ease;
        }

        .container:hover .overlay {
            bottom: 0;
            height: 100%;
        }

        .content {
            color: white;
            font-size: 1.1rem;
            position: absolute;
            width: 80%;
            text-align: left;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    </style>

</head>
<body>
    
        <div class="row">
            <div class="container col-sm-6">
                <div class="meetImg ">
                    <img src="img/index1.jpg">
                </div>

                <div class="overlay">
                    <div class="content">
                    <ul>
                        <li>Real-Time video meetings anytime-anywhere!</li>
                        <li>Easy to use - No download, plug-in or login required.</li>
                        <li>Create a room and get a sharable meeting invite.</li>
                        <li>Share your audio, video & even your screen with others!</li>
                        <li>Start chat conversation with participants inside the room!</li>
                        <li>Total Privacy - The app collects no data or personal information. It stays just between the participants.</li>
                    </ul>
                    </div>
                </div>
            </div>

          
            <div class="wrapper col-sm-6">
                <h2>Microsoft Teams</h2>
                <button type="button" class="btn">
                    <i class="fas fa-plus">
                        <a href="/join"
                        style="
                        color: white;
                        text-decoration:none;
                    "  
                        >Create a Room</a>
                    </i>
                </button>
            </div>
          
        </div>
      

</body>
</html>