<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MS Teams</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <style>
        body { 
            background-color: white; 
            color: black;
        }

        .meetImg{
                left: 0;
                background-color: white; 
                display: flex;
                justify-content: center;
                align-items: center;
        }

        img{
            width: 90%;
            height: 85%;
            /* border: 1px solid black ; */
            margin: auto;
            margin-left: 5%;
        }

        .wrapper{
            right: 0;
            justify-content: center;
            text-align: center;
            background-color: #f9e5f0;
            display: flex;
            align-items: center;
        }

        a{
            padding-left: 0.6em;
            border-left: 0.5px solid grey;
        }

        .col-sm-6{
            height: 100vh;
            overflow-x: hidden;
            vertical-align: middle;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        .row{
            width: 100vw;
        }

        h3{
            font-family: sans-serif;
        }

    </style>

</head>
<body>
    
    <div class="row">

        <div class="wrapper col-sm-6">
            <div>
                <h3>
                    You left the room!
                </h3>
            </div>
        </div>

        <div class="meetImg col-sm-6">
            <img src="img/leftMeet1.jpg">
        </div>
          
    </div>
      

</body>
</html>